extends base.pug
block content
    form(method="POST", action="/videos/upload")
        input(name="title",type="text", required, placeholder="Title")
        input(type="submit", value="Upload Video") 